// COLORS
$color-nav-grey: #f8f8f8;
$color-primary-grey: #d9d9d9;

$color-dark-navy: #264650;
$color-dark-maroon: #6d2c35;

$color-white: #fff;
$color-light-black: #2c2f30;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;