.reroute {
    width: 100%;
    position: absolute;
    bottom: 3.8rem;
    z-index: 1002;
    opacity: 0;

    animation-name: fadeIn;
    animation-duration: .5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    &__header {
        background-color: $color-primary-grey;
        font-size: 1.8rem;
        padding: .9rem 1.5rem .8rem 1.5rem;
        text-align: center;
        color: $color-dark-maroon;
        line-height: 2.1rem;
        overflow: hidden;
        text-transform: uppercase;
    }

    &__left {
        float: left;
    }

    &__line {
        float: left;
        color: $color-light-black;
        font-weight: 700;
    }

    &__dest {
        color: $color-dark-navy;
        font-weight: 300;
        position: absolute;
        left: 27%;
    }

    &__arr {
        float: right;
        margin-right: 1.5rem;
        color: $color-light-black;
    }

    &__arr::after {
        content: " ";
        background-image: url('../img/right-arrow.png');
        background-position: center;
        background-size: cover;
        width: .8rem;
        height: 1.3rem;
        position: absolute;
        display: inline-block;
        margin-top: .7rem;
        right: 4%;
    }

    &__list {
        text-align: center;
        background-color: $color-primary-grey-light;
        box-shadow: 0 0.5px 0 rgba($color-black, .3);
        font-size: 2.4rem;
        list-style: none;
        position: relative;

        a:link,
        a:visited {
            text-decoration: none;
        }
    }

    &__item {
        height: 7rem;
        padding: 2rem 1.5rem;
        border-bottom: 0.5px solid $color-light-black;
    }

    &__after {
        content: "";
        height: 37.3rem;
    }

}